{% extends 'cotravelling/base_navbar.html' %}

{% block title %}О нас{% endblock title %}

{% block css %}
<link type="text/css" rel="stylesheet" href="../../static/cotravelling/css/about.css">
{% endblock css %}


{% block content%}
<div class="main-img_container text-center container-fluid">
    <section class="row no-gutter align-items-center">
        <div class="col-lg-12 text-center p-0 d-flex align-items-center">
            <div class="position-realtive mx-auto main_img">
                <img src="../../static/cotravelling/img/group_photo.png" class="img-fluid position-relative mx-auto" alt="People shopping">
            </div>
            <h1 class="font-weight-bold w-100 position-absolute my-auto long_name">Сервис совместных покупок на Физтехе</h1>
            <button type="button" class="position-absolute btn btn-lg btn_action" onclick="location.href='/findtrip';">Найти поездку</button>
        </div>
    </section>
</div>

<div class="container mw-75" style="width: 70%">
    <div class="row justify-content-center no-gutter">
        <div class="col-xl-3 col-lg-4 col-md-12 " align="center">
            <img src="../../static/cotravelling/img/logo_mfti.png">
        </div>
        <div class="col-xl-5 col-lg-6 col-md-7 col-sm-6 align-self-center offset-lg-2 offset-xl-2">
            <h2>Быстро. Удобно. В компании физтехов</h2>
            <span class="subtext">Наш сервис поможет найти компанию для поездок за покупками или заказов еды из кафе и ресторанов</span>
        </div>
    </div>
    
    <div class="row justify-content-center no-gutter flex-column-reverse flex-lg-row mt-5">
        <div class="col-xl-5 col-lg-6 col-md-7 align-self-center flex-column-reverse flex-lg-row">
            <h2>Доставка еды от любой суммы</h2>
            <span class="subtext">Заказывайте вместе из ДоДо Пицца, Доминос, Якитории или других ресторанов и преодолейте минимальную сумму на доставку</span>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-12" align="center">
            <img src="../../static/cotravelling/img/food_icon.png" style="width: 100%; max-width: 300px;">
        </div>
    </div>

    <h2 class="text-center mt-5">Как заказать еду?</h2>

    <div class="row justify-content-center no-gutter mt-1">
        <div class="col-xl-4 col-lg-4 col-md-7 mt-3" align="center" >
            <div class="card card_default">
                <img class="card-img-top" src="../../static/cotravelling/img/new_icon.png" style="max-width: 250px">
                <div class="card-body text-left">
                    <h5 class="card-title font-weight-bold">Создайте поездку</h5>
                    <p class="card-text">Создайте поездку или выберите подходящую из списка доступных поездок</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-7 mt-3" align="center" >
            <div class="card card_default">
                <img class="card-img-top" src="../../static/cotravelling/img/handshake_icon.png" style="max-width: 250px">
                <div class="card-body text-left">
                    <h5 class="card-title font-weight-bold">Дождитесь попутчиков</h5>
                    <p class="card-text">Договоритесь с участниками поездки о времени и месте встречи с помощью онлайн чата</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-7 mt-3" align="center" >
            <div class="card card_default">
                <img class="card-img-top" src="../../static/cotravelling/img/buy_icon.png" style="max-width: 250px">
                <div class="card-body text-left">
                    <h5 class="card-title font-weight-bold">Покупайте в  компании Физтехов</h5>
                    <p class="card-text">Делайте покупки в дружной компании Физтехов</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center no-gutter mt-5">
        <div class="col-xl-3 col-lg-4 col-md-12" align="center">
            <img src="../../static/cotravelling/img/car_icon.png" style="width: 100%; max-width: 300px; cursor: pointer;" onclick="location.href='/findtrip';">
        </div>
        <div class="col-xl-5 col-lg-6 col-md-7 col-sm-6 align-self-center" onclick="location.href='/findtrip';" style="cursor: pointer;">
            <h2>До любимого магазина на машине</h2>
            <span class="subtext">Найдите тех, кто едет в Ваш любимый магазин на машине или такси и присоединитесь к ним</span>
        </div>
    </div>

    <h2 class="text-center mt-5">Как собраться на шоппинг?</h2>

    <div class="row justify-content-center no-gutter mt-1">
        <div class="col-xl-4 col-lg-4 col-md-7 mt-3" align="center" >
            <div class="card card_default" onclick="location.href='/findtrip';">
                <img class="card-img-top" src="../../static/cotravelling/img/new_icon.png" style="max-width: 250px">
                <div class="card-body text-left">
                    <h5 class="card-title font-weight-bold">Создайте поездку</h5>
                    <p class="card-text">Создайте поездку или выберите подходящую из списка доступных поездок</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-7 mt-3" align="center" >
            <div class="card card_default" onclick="location.href='/findtrip';">
                <img class="card-img-top" src="../../static/cotravelling/img/handshake_icon.png" style="max-width: 250px">
                <div class="card-body text-left">
                    <h5 class="card-title font-weight-bold">Дождитесь попутчиков</h5>
                    <p class="card-text">Договоритесь с участниками поездки о времени и месте встречи с помощью онлайн чата</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-7 mt-3" align="center" >
            <div class="card card_default" onclick="location.href='/findtrip';">
                <img class="card-img-top" src="../../static/cotravelling/img/buy_icon.png" style="max-width: 250px">
                <div class="card-body text-left">
                    <h5 class="card-title font-weight-bold">Покупайте в  компании Физтехов</h5>
                    <p class="card-text">Делайте покупки в дружной компании Физтехов</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}