{% extends 'cotravelling/base_navbar.html' %}

{% block title %}О нас{% endblock title %}

{% load sass_tags %}

{% block css %}
<link href="{% sass_src 'cotravelling/scss/about.scss' %}" rel="stylesheet" type="text/css" />
{% endblock css %}


{% block content%}
<div class="main-img_container text-center container-fluid">
    <section class="row no-gutter align-items-center">
        <div class="col-lg-12 text-center p-0 d-flex align-items-center image_container">
            <div class="position-realtive mx-auto main_img">
                <img src="../../static/cotravelling/img/group_photo.png" class="img-fluid position-relative mx-auto" alt="People shopping">
            </div>
            <h1 class="font-weight-bold w-100 position-absolute my-auto long_name d-none d-lg-block">Сервис совместных поездок на Физтехе</h1>
            <button type="button" class="position-absolute btn btn-lg btn_action d-none d-lg-block" onclick="location.href='/findtrip';">Найти поездку</button>
        </div>
    </section>
    <div class="row no-gutter mt-4 d-block d-lg-none">
        <div class="col-12 align-items-center">
            <h1 class="font-weight-bold w-100 my-auto long_name">Сервис совместных поездок на Физтехе</h1>
            <button type="button" class="btn btn-lg btn_action" onclick="location.href='/findtrip';">Найти поездку</button>
        </div>
    </div>
</div>

<div class="container mw-75 main_container" style="width: 90%">

    <h2 class="text-center mt-5">Экономьте время и деньги вместе!</h2>

    <div class="row justify-content-center no-gutter">
        <div class="col-lg-7 col-12" align="left">
            <div class="d-flex list_item">
                <img src="../../static/cotravelling/img/time_icon.svg"/>
                <span>В перерыве от бота хочешь поехать за покупками, но ближайшая элка через 40 минут?</span>
            </div>
            <div class="d-flex list_item">
                <img src="../../static/cotravelling/img/money_icon.svg"/>
                <span>Матпомощи не хватает на такси до Шереметьево?</span>
            </div>
            <div class="d-flex list_item">
                <img src="../../static/cotravelling/img/sadness_icon.svg"/>
                <span>Не хочешь ехать на метро за новеньким матрасом?</span>
            </div>
            <div class="d-flex list_item">
                <img src="../../static/cotravelling/img/people_icon.svg"/>
                <span>А что, если ваш сосед по несчастью живет с вами в одной общаге?</span>
            </div>
            <div class="d-flex list_item">
                <img src="../../static/cotravelling/img/happines_icon.svg"/>
                <span>Наш сервис поможет вам решить эти проблемы вместе!</span>
            </div>
        </div>
    </div>

    <div class="row justify-content-center no-gutter mt-5">
        <div class="col-xl-5 col-lg-6 col-md-10 col-sm-10 order-2 order-lg-1 align-self-center" onclick="location.href='/findtrip';" style="cursor: pointer;">
            <h2>До любого места на машине</h2>
            <span class="subtext">Разделите поездку и её стоимость с теми, кому с вами по пути. Ездите в магазины, торговые центры, аэропорты на такси, каршеринге или личном авто и платите меньше вместе!</span>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-12 order-1 order-lg-2" align="center">
            <img src="../../static/cotravelling/img/car_img.svg" style="width: 100%; max-width: 300px; cursor: pointer;" onclick="location.href='/findtrip';">
        </div>
    </div>

    <h2 class="text-center mt-5">Как начать пользоваться сервисом?</h2>

    <div class="row justify-content-center no-gutter mt-1">
        <div class="col-xl-4 col-lg-4 col-md-10 mt-3" align="center" >
            <div class="card card_default" onclick="location.href='/findtrip';">
                <div class="card-body text-left">
                    <h5 class="card-title font-weight-bold">Создайте поездку</h5>
                    <p class="card-text">Укажите когда, откуда и куда вы хотите поехать, а также количество свободных мест. Если вы хотите знать свою компанию заранее - укажите «Хочу подтверждать участников».</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-10 mt-3" align="center" >
            <div class="card card_default" onclick="location.href='/findtrip';">
                <div class="card-body text-left">
                    <h5 class="card-title font-weight-bold">Найдите попутчиков</h5>
                    <p class="card-text">Выберете подходящую поездку или дождитесь участников в своей: физтехи присоединятся, если им по пути. Если планы поменялись, вы можете отказаться от участия, но мы просим вас делать это заранее.</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-10 mt-3" align="center" >
            <div class="card card_default" onclick="location.href='/findtrip';">
                <div class="card-body text-left">
                    <h5 class="card-title font-weight-bold">Онлайн чат</h5>
                    <p class="card-text">Познакомьтесь с участниками и уточните детали поездки с помощью онлайн чата. </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center no-gutter mt-5 mb-5">
        <div class="soon_icon col-xl-3 col-lg-4 col-md-12 mr-4" align="center">
            <img src="../../static/cotravelling/img/food_img.svg" style="width: 100%; max-width: 300px; cursor: pointer;">
        </div>
        <div class="col-xl-5 col-lg-6 col-md-10 col-sm-10 align-self-center mt-5 soon" style="cursor: pointer;">
            <div class="d-flex soon">
                <h2 class="soon_title">Совместные заказы еды</h2>
                <img src="../../static/cotravelling/img/soon.svg"/>
            </div>
            <span class="subtext">Заказывайте вместе из ДоДо Пицца, Доминос, Якитории или других ресторанов и не платите за доставку!</span>
        </div>
    </div>
</div>

{% endblock content%}
