{% extends 'cotravelling/base_navbar.html' %}

{% block title %}Доступные поездки{% endblock title %}

{% load sass_tags %}

{% block css %}
<link href="{% sass_src 'cotravelling/scss/available_trips.scss' %}" rel="stylesheet" type="text/css" />
{% endblock css %}


{% block content %}
{% if auth %}
<form action="{{ request.get_full_path }}" method="post">
    {% csrf_token %}
    <div class="container add_trip_box mt-2">
        <div class="row no-gutters">
            <div class="col-lg-3 col-md-6 col-sm-12 mb-1">
                <div class="input_box" id="from">
                    <select class="selectpicker" data-live-search="true" name="source" required>
                        <option disabled selected value="">Откуда</option>
                        {% for location in locations %}
                        <option>{{location}}</option>
                        {% endfor %}
                    </select>
                </div>  
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-1">
                <div class="input_box" id="to">
                    <select class="selectpicker align-self-center" data-live-search="true" name="target" required>
                        <option disabled selected value="">Куда</option>
                        {% for location in locations %}
                        <option>{{location}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6 mb-1">
                <div class="input_box" id="vehicle">
                    <select class="selectpicker" data-live-search="true" name="vehicle" required>
                        <option disabled selected value="">На чём</option>
                        <option>Такси</option>
                        <option>Каршеринг</option>
                        <option>Своя машина</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-1 col-md-4 col-sm-6 col-6 mb-1">
                <div class="input_box" id="count">
                    <input id="people_count" type="number" min="1" max="10" name="free_places" placeholder="Мест" class="form-control" required/>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="input_box" id="date">
                    <div class="form-group" style="margin-bottom: 0; width: 100%">
                        <div class="input-group date" id="datetimepicker" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker" name="datetime" placeholder="Когда" autocomplete="off" required maxlength=16/>
                            <div class="input-group-append" data-target="#datetimepicker" data-toggle="datetimepicker">
                                <div class="input-group-text" style="margin-right: 16px;"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#datetimepicker').datetimepicker({
                            locale: 'ru'
                        });
                    });
                </script>
                <style>
                    .bootstrap-datetimepicker-widget.dropdown-menu { width: auto !important; }
                    .bootstrap-datetimepicker-widget table td.cw {
                        font-size: .25em;
                        height: 40px;
                        line-height: 40px;
                        color: #6c757d; }
                </style>
            </div>
        </div>
        <div class="row mt-2 text-right">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1" name="is_closed"/>
                    <label class="custom-control-label" for="customCheck1">Хочу предварительно подтверждать участников</label>
                </div>
            </div>
        </div>
        <input type="hidden" value="{{date_from}}" name="date_from" id="add_trip_form_hidden"/>
        <div class="row mt-2 justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-12 col-12 text-center">
                <button type="submit" class="btn_action" name="add_trip" required style="padding: 10px 10px;">Добавить поездку</button>
            </div>
        </div>
    </div>
</form>
{% endif %}

<div class="container-fluid trip_lists_container mt-4">
    <div class="row justify-content-between days_control">
        <div class="col-lg-4 col-0 d-none d-lg-block align-self-center">
            <span id="prev3">←предыдущие три дня</span>
        </div>
        <div class="col-lg-4 col-12 text-center align-self-center">
            <h2 class="d-inline">Доступные поездки</h2>
        </div>
        <div class="col-lg-4 col-12 d-inline-block d-lg-none align-self-center text-center">
            <div class="d-inline-block day_control" style="max-width: 500px; width: 100%; margin-top: 16px;">
                <span style="float: left;" id="prev1">←предыдущий день</span>
                <span style="float: right;" id="next1">следующий день→</span>
            </div>
        </div>
        <div class="col-lg-4 col-4 d-none d-lg-block text-right align-self-center">
            <span id="next3">следующие три дня→</span>
        </div>
    </div>
    <div class="row" id="trips_block"> 
    {% include 'cotravelling/trips_block.html' %}
    </div>
</div>

<script>
    function load(direction, diff) {
        $.ajax({
            url: "/load_trips/" + date_from + "/" + user + "/" + direction + "/" + diff,
            success: function(result) {
                document.getElementById("trips_block").innerHTML = result["page"];
                date_from = result["date_from"];
                add_trip_form_hidden.value = date_from;
            },
        });
        
    }
    
    prev3.onclick = function () {
        load("b", 3);
    };
    
    next3.onclick = function () {
        load("f", 3);
    };
    
    prev1.onclick = function () {
        load("b", 1);
    };
    
    next1.onclick = function () {
        load("f", 1);
    };

</script>

{% endblock content %}
