{% if trip.joining and trip.admitted %} <!-- Current user has joined the trip and was admitted -->
<div class="container">
    <div class="row card_buttons justify-content-center">
        <div class="col-12 col-lg-6" style="padding-left: 0; padding-right: 8px;">
            <form id="chat_form" action="/chat/{{trip.id}}" method="get">
                <button type="submit" class="btn_action action_open_chat">открыть чат</button>
            </form>
        </div>
        {% if trip.deletable or not trip.is_owner %}
        <div class="col-12 col-lg-6" style="padding-right: 0; padding-left: 8px;">
            <button type="submit" class="btn_action action_refuse" name="leave {{trip.id}} {{date_from}}" form="button_form">
            {% if trip.deletable %}
            удалить
            {% else %}
            отказаться
            {% endif %}
            </button>
        </div>
        {% endif %}
    </div>
</div>
{% elif trip.joining and not trip.admitted %} <!-- Current user has asked for admission -->
<div class="container">
    <div class="row justify-content-center card_buttons">
        <div class="col-12 col-lg-8">
            <button type="submit" class="btn_action action_refuse" name="leave {{trip.id}} {{date_from}}" form="button_form">отказаться</button>
            <span class="under_btn_info">Заявка отправлена</h6>
        </div>
    </div>
</div>
{% elif trip.is_closed and trip.free_places > 0 %} <!-- This trip is private, current user can ask to take part -->
<div class="container">
    <div class="row justify-content-center card_buttons">
        <div class="col-12 col-lg-8">
            <button type="submit" class="btn_action action_open_chat" name="ask {{trip.id}} {{date_from}}" form="button_form">запросить участие</button>
            <span class="under_btn_info">Частная поездка</h6>
        </div>
    </div>
</div>
{% elif trip.free_places > 0 %}
<div class="container">
    <div class="row justify-content-center card_buttons">
        <div class="col-12 col-lg-8">
            <button type="submit" class="btn_action action_open_chat" name="join {{trip.id}} {{date_from}}" form="button_form">присоединиться</button>
            <span class="under_btn_info">{{ trip.free_places }} 
                    {% if trip.free_places == 1 %}
                    свободное место
                    {% elif trip.free_places <= 4 and trip.free_places >= 2 %}
                    свободных места
                    {% else %}
                    свободных мест
                    {% endif %}</span>
        </div>
    </div>
</div>
{% else %}
   <h6 style="margin-top: 16px;">Свободных мест нет</h6>
{% endif %}
