<div class="d-flex" name="calendar_flex">
{% for trip_column in trips %}
<div class="p-2" name="day_column">
  {% if trip_column %}
  <div class="day">
    <div class="date">{{trip_column.date}}</div>
    <div class="collabs trips">
      {% for trip in trip_column.trips %}
      <div class="collab">
        <div class="time">{{trip.time}}</div>
        <div class="info">
          <div class="heading">
            <div class="route">{{trip.source}}<span> → </span>{{trip.target}}</div>
            <div class="vehicle">{{trip.vehicle}}</div>
          </div>
          <div class="people">
            {% for user in trip.users %}
            <div class="user">{{ user }}</div>
            {% endfor %}
            {% if trip.free_places %}
            <div class="free-places">Ещё {{ trip.free_places }}
                {% if trip.free_places == 1 %}
                место
                {% elif trip.free_places <= 4 and trip.free_places >= 2 %}
                места
                {% else %}
                мест
                {% endif %}
            </div>
            {% else %}
            <div class="no-free-places">Мест нет</div>
            {% endif %}
          </div>
        </div>
        <div class="actions">
          {% if auth %}
          <form action="{{ request.get_full_path }}" method="post">
            {% csrf_token %}
            {% if trip.is_owner%}
            <!--<div class="input-group mb-3">-->
            <!--<button type="submit" class="btn btn-danger" name="delete{{trip.id}}">Удалить поездку</button>-->
            <!--</div>-->
            {% elif trip.joining and trip.admitted %}
            <div class="input-group mb-3">
              <button type="submit" class="btn btn-warning" name="leave{{trip.id}}">Отказаться</button>
            </div>
            {% elif trip.joining and not trip.admitted%}
            <div class="input-group mb-3">
              <button type="submit" class="btn btn-warning" name="leave{{trip.id}}">Не запрашивать участие</button>
            </div>
            {% elif trip.is_closed %}
            <div class="input-group mb-3">
              <button type="submit" class="btn btn-info" name="ask{{trip.id}}">Запросить участие</button>
            </div>
            {% elif trip.free_places > 0 %}
            <div class="input-group mb-3">
              <button type="submit" class="btn btn-primary" name="join{{trip.id}}">Присоединиться</button>
            </div>
            {% endif %}
          </form>
          {% endif %}
          {% if trip.joining and trip.admitted %}
          <form action="/chat/{{trip.id}}" method="get">
            <button type="submit" class="btn btn-primary">Открыть чат</button>
          </form>
          {% endif %}
        </div>
      </div>
      {% empty %}
      <div class="no-collabs">В этот день пока никто не назначил поездок</div>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <p>No trips are available.</p>
  {% endif %}
</div>
{% endfor %}
</div>
<script>
  var until_date = "{{until_date}}";
  var user = {{user.id}};
</script>
