{% for trip_column in trips %}
  <div class="p-2">
  {% if trip_column %}
<table class="table" style="background-color:#DDF0FF">
    <thead>
    <tr>
      <th scope="col-xs-3">{{trip_column.date}}</th>
      <th scope="col-xs-3">Участники</th>
      <th scope="col-xs-3"></th>
    </tr>
    </thead>
    {% for trip in trip_column.trips %}
        <tr>
            <td>
            <div>{{trip.source}} → {{trip.target}}</div>
            <div>
            {{trip.vehicle}}
            </div>
            <div><small>{{trip.time}}</small></div>
            <div><small>{{trip.free_places}}
            {% if trip.free_places == 1 %}
            место
            {% elif trip.free_places <= 4 and trip.free_places >= 2%}
            места
            {% else %}
            мест
            {% endif %}
            </small></div>
            </td>
            <td>
            {% for user in trip.users %}
                <small>{{ user }}</small><br/>
            {% endfor %}
            </td>
            <td>
            {% if auth %}
                <form action="{{ request.get_full_path }}" method="post">
                    {% csrf_token %}
                    {% if trip.is_owner%}
<!--                    <div class="input-group mb-3">-->
<!--                    <button type="submit" class="btn btn-danger" name="delete{{trip.id}}">Удалить поездку</button>-->
<!--                    </div>-->
                    {% elif trip.joining and trip.admitted%}
                    <div class="input-group mb-3">
                    <button type="submit" class="btn btn-warning" name="leave{{trip.id}}">Отказаться</button>
                    </div>
                    {% elif trip.joining and not trip.admitted%}
                    <div class="input-group mb-3">
                    <button type="submit" class="btn btn-warning" name="leave{{trip.id}}">Не запрашивать участие</button>
                    </div>
                    {% elif trip.is_closed %}
                    <div class="input-group mb-3">
                    <button type="submit" class="btn btn-info" name="ask{{trip.id}}">Запросить участие</button>
                    </div>
                    {% elif trip.free_places > 0 %}
                    <div class="input-group mb-3">
                    <button type="submit" class="btn btn-primary" name="join{{trip.id}}">Присоединиться</button>
                    </div>
                    {% endif %}
                </form>
            {% endif %}
            {% if trip.joining and trip.admitted %}
                <form action="/chat/{{trip.id}}" method="get">
                <button type="submit" class="btn btn-primary">Открыть чат</button>
                </form>
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No trips are available.</p>
{% endif %}</div>
{% endfor %}
<script>
  var until_date = "{{until_date}}";
  var user = {{user.id}};
</script>
