{% include "cotravelling/base_navbar.html" %}

<div style="height:1em;"></div>

{% if forbidden %}
    <h6>Чтобы увидеть чат, нужно присоединиться к поездке.</h6>
{% else %}

<div class="w-100 p-3">
  <div class="row">
    <div class="container">
        <div>
           {{trip_info.source}} → {{trip_info.target}}, {{trip_info.vehicle}}
        </div>
        <div>
        {{trip_info.datetime}}
        {% if trip_info.is_over %}
        ({{trip_info.remaining_time}})
        {% endif %}
        </div>
        <div>
        Поедут: {% for usertrip in participants %}{% if forloop.counter0 != 0 %}, {% endif %}
        {%if usertrip.is_owner %}<strong>{% endif %}
        <a href="https://vk.com/{{usertrip.user.username}}">{{usertrip.user.first_name}} {{usertrip.user.last_name}}</a>{%if usertrip.is_owner %}</strong> (создатель поездки){% else %}
        (<a href="/reject/{{usertrip.id}}">{% if request.user.id != usertrip.user_id %}исключить{% else %}отказаться{% endif %}</a>){% endif %}{% endfor %}
        </div>
        {% if requested_participants %}
        <div>
        Хотят поехать: {% for usertrip in requested_participants %}{% if forloop.counter0 != 0 %}, {% endif %}
        {{usertrip.user.first_name}} {{usertrip.user.last_name}} (<a href="/accept/{{usertrip.id}}">принять</a> | <a href="/reject/{{usertrip.id}}">отказать</a>){% endfor %}
        </div>
        {% endif %}
        <div id="messages">
        {% include "cotravelling/message.html" %}
        </div>
        <div style="height:5em;"></div>
    </div>
  </div>
</div>

<div class="fixed-bottom" style="background-color: #eee;height:4em;">
    <form action="" autocomplete="off">
        {% csrf_token %}
        <div class="w-100 p-3">
            <div class="container">
                <div class="d-flex justify-content-center">
                    <div class="input-group">
                        <input type="text" name="text" placeholder="Напишите сообщение" class="form-control" maxlength=200 id="message_text"></textarea>
                        <div class="input-group-append">
                        <button type="submit" class="btn btn-primary" id="send_button">Отправить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    var last_message_id = {{last_message_id}};
    var trip_id = {{trip_info.id}};
</script>

<script>
    function load() {
        $.ajax({
            url: "/load_messages/" + trip_id + "/" + last_message_id,
            success: function(result) {
                if (result["new_last_message_id"] == undefined) {
                }
                if (result["last_message_id"] == window.last_message_id) {
                    $("#messages").append(result["page"]);
                    window.last_message_id = result["new_last_message_id"];
                }
                if (result["new_last_message_id"] != result["last_message_id"] && 
                    window.innerHeight + window.pageYOffset >= document.body.offsetHeight - 300) {
                    window.scrollTo(0, document.body.scrollHeight);
                }
            },
        });
    }
    
    $("#send_button").click(function(e) {
        e.preventDefault();
        msg = document.getElementById("message_text").value;
        document.getElementById("message_text").value = "";
        $.ajax({
            'type': "POST",
            'url': "/add_message/" + trip_id,
            'data': {
                'content': msg,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            'success': function(result) {
                
            }
        });
    });
    
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    
    async function update() {
        while (true) {
            load();
            await sleep(300);
        }
    }
    
    update();
</script>

{% endif %}
