{% for trip_column_date in trips %}
{% if trip_column_date.iteration == 0 %}
<div class="mobile_content col-12 col-lg-4">
{% else %}
<div class="d-none d-lg-block col-lg-4">
{% endif %}
        {% for trip in trip_column_date.trips %}
        <div class="card card_default"> <!-- One crad for one trip -->
            <div class="container trip_container">
                <div class="row">
                    <div class="from_to_block col-xl-4 col-lg-5 d-flex flex-column align-items-start col-12"> <!-- From, to, when, vehicle -->
                        <div>
                            <span class="field_hint">Откуда</span>
                            <h6>{{trip.source}}</h6>
                        </div>
                        <div class="to_block mt-auto">
                            <span class="field_hint">Куда</span>
                            <h6>{{trip.target}}</h6>
                        </div>
                    </div>
                    <div class="path col-xl-1 col-lg-1 col-12 d-flex flex-column align-items-center">
                        {% load static %}
                        <img src="{% static "cotravelling/img/circle.svg" %}" class="circle_point start_circle_point"/>
                        <div class="rect_path"></div>
                        <img src="{% static "cotravelling/img/circle.svg" %}" class="circle_point end_circle_point"/>
                    </div>
                    <div class="col-xl-3 col-lg-6 d-flex flex-column align-items-start col-12 info_container">
                        <div class="info_block">
                            <span>{{trip.time}}</span>
                            <span>{{trip_column_date.date}}</span>
                        </div>
                        <div class="info_block trip_vehicle mt-auto">
                            <span>{{trip.vehicle}}</span>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12 participants_container"> <!-- Participants -->
                        <span class="field_hint">Участники</span>
                        <div class="participants d-flex flex-wrap justify-content-between">
                            {% for user in trip.users %}
                            <span>{{ user }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center text-center">
                    <div class="col-xl-12 col-lg-12 col-12 d-block">
                            {% if auth %}
                            <form id="button_form" action="/findtrip/{{date_from}}" method="post">
                                {% csrf_token %}
                            </form>
                            {% include "cotravelling/card_buttons.html" %}
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="card card_default card_empty text-center">
            <div class="placeholder">
                <h4>Поездок на {{trip_column_date.short_date}} не запланировано</h4>
            </div>
        </div>
        {% endfor %}
</div>
{% endfor %}
<script>
    var date_from = "{{date_from}}";
    var user = {{ user.id }};
</script>
