$theme-colors: (
  "primary": #0D4A27,
  "secondary": #8395A7
);

@import "../bootstrap-4.2.1/scss/bootstrap";
@import "../bootstrap-4.2.1/scss/functions";
@import "../bootstrap-4.2.1/scss/variables";
@import "../bootstrap-4.2.1/scss/mixins";

html {
    font-size: 1rem;
}

body {
    font-family: 'Fira Sans', sans-serif;
    background-color: #F3F3F3;
}

.navbar {
    font-size: 1em;
}

.btn_action {
    background-color: #E2A26A;
    border-radius: 10px;
    cursor: pointer;
}

footer {
    background-color: #71D578;
    color: white;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.6rem;
    }
}
  
@include media-breakpoint-up(md) {
    html {
        font-size: 2rem;
    }

    .main_container {
        width: 90%;
    }
}
  
@include media-breakpoint-up(lg) {
    html {
        font-size: 1rem;
    }
}